* {
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Style for the inputs */
input[type="text"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
}


#newQuote {
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

/* Style for the headline */
h1 {
    color: #333;
    font-size: 24px;
}

/* Style for the quote text */
#quoteDisplay p:first-child {
    font-size: 18px;
    font-weight: bold;
}

/* Style for the quote category */
#quoteDisplay p:last-child {
    font-style: italic;
    color: #888;
}

.row {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.row button,
.row input[type="file"] {
    margin-right: 10px;
}

/* Style for the file input */
.custom-file-input {
    display: none;
    /* Hide the default file input */
}

.custom-file-label {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.custom-file-label::after {
    content: "Select File";
}

.custom-file-input:focus+.custom-file-label {
    outline: 2px solid #0066cc;
}

/* Optional styles to enhance the appearance */
.custom-file-label:hover {
    background-color: #e1e1e1;
}

.custom-file-input:active+.custom-file-label {
    background-color: #d1d1d1;
}